@model IEnumerable<TeacherProject.Models.Teacher>
@{
    ViewBag.Title = "listSalary";
}

<h2>listSalary</h2>

<h2>list</h2>




@{
    foreach (var teacher in Model)
    {
        <div>

            <a href="/Teacher/show/@teacher.teacherid"><p>@teacher.fname   @teacher.lname  @teacher.salary   @teacher.hiredate </p>  </a>

        </div>

    }

}
