@model TeacherProject.Models.Teacher
@{
    ViewBag.Title = "show";
}

<h2>show</h2>
<div>
    <h3> Employee Name : @Model.fname       @Model.lname      </h3> <br/>
    <h3>Emplyee no:  @Model.employeeno</h3><br />
    <h3>Hire date: @Model.hiredate</h3> <br />
    <h3>Salary:@Model.salary </h3><br />
    
</div>
