@model TeacherProject.Models.Teacher
@{
    ViewBag.Title = "show";
}

<h2>Teacher Details</h2>
<nav>
    <a href="/Teacher/list">Go back to List</a>
   
</nav>
<nav class="navlink">
    <a href="/Teacher/update/@Model.teacherid">Update this record</a>
</nav>

<div>
    <h3> Employee Name : @Model.fname       @Model.lname      </h3> <br/>
    <h3>Emplyee no:  @Model.employeeno</h3><br />
    <h3>Hire date: @Model.hiredate</h3> <br />
    <h3>Salary:@Model.salary </h3><br />
    
</div>

<div>
    <a href="/Teacher/delete_confirm/@Model.teacherid"><p>Delete this record</p></a>
</div>